@charset "UTF-8";


@font-face {
  font-family: 'OPTI Garamond Special-Light';
  src: url('fonts/OPTIGaramondSpecial-Light.otf') format('otf')
  font-weight: 100; /* Oder die passende Stärke */
  font-style: normal;
}
@font-face {
  font-family: 'Cezanne Regular';
  src: url('fonts/P22CezanneRegular.woff2') format('woff2');
  font-weight: 100; /* Oder die passende Stärke */
  font-style: normal;
}

p {
  font-family: 'OPTI Garamond Special-Light', serif !important;
}

.container {
	background-color: #FFFFFF;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.row {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display: inline-block
}
.row.blockDisplay {
	display: block;
}
.column_half {
	width: 50%;
	float: left;
	margin-top: 0px;
}
.columns {
	width: 25%;
	float: left;
	font-family: "Source Sans Pro";
	color: #A5A5A5;
	line-height: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: justify;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
.row .columns p {
	padding-left: 10%;
	padding-right: 10%;
	color: #442d1c;
}
.container .columns h4 {
	text-align: center;
	color: #442d1c;
}
.primary_header {
  width: 100%;
  background-color: #5c4033;
  padding-top: 10px;
  padding-bottom: 10px;
  clear: left;
  border-bottom: 2px solid #66371b;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.secondary_header {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #7a6e47;
	clear: left;
}
.container .secondary_header ul {
	margin-top: 0%;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
	width: 100%;
}
.secondary_header ul li {
	list-style: none;
	float: left;
	margin-right: auto;
	margin-top: 0px;
	font-family: "Source Sans Pro";
	font-weight: normal;
	color: #FFFFFF;
	letter-spacing: 1px;
	margin-left: auto;
	text-align: center;
	width: 16%;
	transition: all 0.3s linear;
}
.secondary_header ul li:hover {
	color: #7A6E47;
	cursor: pointer;
}
.secondary_header ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}
.secondary_header ul li a:hover {
  color: #442d1c;
  text-decoration: none;
}
.left_article {
	background-color: #FFFFFF;
	width: 60%;
	float: left;
	font-family: "Source Sans Pro";
	color: #343434;
	padding-bottom: 15px;
}
.noDisplay {
	display: none;
}
.container .left_article h3 {
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 5%;
	color: #717070;
	font-weight: bold;
	text-transform: uppercase;
}
.container .left_article p {
	padding-left: 5%;
	padding-right: 5%;
	text-align: justify;
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 15px;
	color: #442d1c;
}

.container .right_article ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.right_article ul li {
	font-family: "Source Sans Pro";
	list-style: none;
	text-align: center;
	background-color: #B3B3B3;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 0px;
	transition: all 0.3s linear;
	border-left: 5px solid #717070;
}
.right_article ul li:hover {
	background-color: #717070;
	cursor: pointer;
}
.right_article img {
  position: static;
  left: auto;
}
.footer {
	background-color: #5c4033;
}
.title {
	
	font-weight: bold;
	font-style: normal;
	font-family: "Cezanne Regular", serif;
	text-align: left;
	color: #e3d8c1;
	letter-spacing: 3px;
	padding-left: 0;
	margin-left: 50px;
	
	
}
.title a, .title a:visited, .title a:hover, .title a:active {
  color: #FFFFFF !important;
  text-decoration: none !important;
  font-weight: bold;
  transition: none;
}
.placeholder {
	/* [disabled]max-width: 400px;
*/
	/* [disabled]max-height: 200px;
*/
	width: 100%;
	padding-top: 30px;
	/* [disabled]padding-left: 19px;
*/
	padding-bottom: 30px;
	height: 100%;
}
.left_half {
	background-color: #52BAD5;
}
.container .column_half.left_half h2 {
	color: #FFFFFF;
	font-family: "Source Sans Pro";
	text-align: center;
}
.right_half {
	background-color: #01B2D1;
	color: #FFFFFF;
	font-family: "Source Sans Pro";
	text-align: center;
	font-weight: bold;
}
.column_title {
	padding-top: 25px;
	padding-bottom: 25px;
}
.copyright {
	text-align: center;
	background-color: #5c4033;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 1px;
	font-family: "Source Sans Pro";
}
body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.store-row {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}
.store-img-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 180px;
}
.store-img-col img {
  width: auto;
  height: 200px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}
.store-row > .store-img-col img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 16px;
}
.store-text-col {
  flex: 1 1 0%;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.store-img-col figcaption a {
  color: #01B2D1;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}
.store-img-col figcaption a:hover {
  color: #7A6E47;
  text-decoration: none;
}
.store-img-col figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.store-img-col figcaption {
  color: #442d1c;
  font-family: 'OPTI Garamond Special-Light', serif;
  font-size: 1em;
  background: #fff8f0;
  border-radius: 8px;
  margin-top: 10px;
  padding: 8px 10px 4px 10px;
  min-width: 160px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
  text-align: center;
}
.artikel-title-link, .artikel-title-link:visited, .artikel-title-link:hover, .artikel-title-link:active {
  color: #442d1c !important;
  text-decoration: none !important;
  font-weight: bold;
  transition: none;
}
.row .columns:nth-child(1) .thumbnail {
  border-radius: 172px;
}
.row .columns:nth-child(2) .thumbnail {
  border-radius: 148px;
}
.row .columns:nth-child(3) .thumbnail {
  border-radius: 256px;
}
.row .columns:nth-child(4) .thumbnail {
  border-radius: 189px;
}
@media (max-width: 800px) {
  .store-row {
    flex-direction: column;
    gap: 16px;
  }
  .store-img-col, .store-text-col {
    max-width: 100%;
  }
  .title {
    margin-left: 0;
    text-align: center;
    width: 100%;
  }
  .primary_header {
    justify-content: center;
  }
}

@media (max-width: 320px) {
.secondary_header ul li {
	list-style: none;
	float: left;
	margin-right: auto;
	margin-top: 0px;
	font-family: "Source Sans Pro";
	font-weight: normal;
	color: #FFFFFF;
	letter-spacing: 1px;
	margin-left: auto;
	text-align: center;
	width: 16%;
	transition: all 0.3s linear;
}
.secondary_header ul li:hover {
	color: #7A6E47;
	cursor: pointer;
}
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
}
.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
}
.placeholder {
	width: 100%;
	margin-top: 22PX;
	margin-right: 0px;
	margin-bottom: 22PX;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	max-width: 400px;
	max-height: 200px;
	height: auto;
}
.columns {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0PX;
	padding-right: 0PX;
	padding-bottom: 0PX;
	padding-left: 0PX;
}
.columns p {
	padding-left: 10px;
	padding-right: 10px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
.copyright {
	padding-top: 25px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.container .left_article h3 {
	margin-top: 30px;
}
.social .social_icon img {
	width: 80%;
}

}

@media (min-width: 321px) and (max-width: 768px) {
.secondary_header ul li {
	float: none;
	margin-top: 28px;
	margin-left: 0px;
	width: 100%;
}
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
}
.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
	padding-bottom: 25px;
}
.placeholder {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
.columns {
	width: 100%;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.columns p {
	padding-left: 14px;
	padding-right: 14px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
}

@media (min-width: 769px) and (max-width: 1000px) {
.secondary_header {
	overflow: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
.secondary_header ul li {
	margin-top: 10px;
	margin-right: 7%;
	margin-bottom: 10px;
	margin-left: 7%;
}
.left_article {
	height: auto;
}
.right_article {
	height: auto;
	padding-bottom: 27px;
}
.placeholder {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.columns {
	width: 50%;
	float: left;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.container .columns p {
	padding-left: 25px;
	padding-right: 25px;
}
}

@media (min-width: 1001px) {
}
.thumbnail {
  width: 132px;
  height: 132px;
  margin-left: auto;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}
.team-img {
  width: 132px;
  height: 132px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 16px;
}
.store_image {
  width: 400px;
  height: 300px;
  object-fit: cover;
  aspect-ratio: auto 3 / 2;
  border-radius: 16px;
  margin-bottom: 20px;
}
.thumbnail_align {
	text-align: center;
}
.social {
	text-align: center;
}
.social_icon {
	width: 25%;
	text-align: center;
	float: left;
	transition: all 0.3s linear;
	line-height: 0px;
	padding-top: 7px;
}
.container .social .social_icon:hover {
	cursor: pointer;
	opacity: 0.5;
}

